<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block style %}
        <!-- https://fontawesome.com/download -->
        <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/fontawesome-free-6.1.1-web/css/all.min.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/bootstrap-5.2.0-dist/css/bootstrap.min.css">

        {#
            triggers scssphp, this one doesn't prepend app.request.basepath
            since it overrides \Symfony\Bridge\Twig\Extension\AssetExtension
            and doesn't prepend $this->getBasePath().ltrim($versionedPath, '/')
            as in Symfony\Component\Asset\PathPackage
        #}
        <link href="{{ app.request.basepath }}{{ asset('css/base.css') }}" rel="stylesheet">
        {% endblock style %}

        <title>{% block title %}{{ site_name|trans({}, 'additional') }}{% endblock %}</title>

        {# slim-version of jquery doesn't work for tetranz/select2entity-bundle #}
        <script src="{{ app.request.basepath }}/js/jquery-3.6.0.min.js"></script>

        {# for template-specific includes #}
        {% block head %}{% endblock head %}

        {# TODO: favicon #}
    </head>
    <body role="document" class="d-flex flex-column min-vh-100">
        {% block navbar %}
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="{{ path('home') }}">
                    {% if 'de' == app.request.locale %}
                        <b>Hachschara</b> als<br />
                        Erinnerungsort
                    {% else %}
                        <b>Hakhsharah</b> as a<br />
                        Place of Remembrence
                    {% endif %}
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="{{ 'Toggle navigation'|trans }}">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul id="navigation-top" class="d-none d-md-flex w-100 justify-content-end small">
                    <li class="list-inline-item" style="margin-right: 6em">
                        <a class="nav-link" href="{{ path('imprint') }}#contact">{{ 'Contact'|trans }}</a>
                    </li>
                {% if locales|length > 1 and app.request.attributes.get("_route") is not null %}
                    {% for locale in locales %}
                    <li class="list-inline-item{% if locale == app.request.locale %} active{% endif %}">
                        {% if route_params_locale_switch is defined and route_params_locale_switch is not empty and route_params_locale_switch[locale] is defined %}
                            {% set route_params = route_params_locale_switch[locale] %}
                        {% else %}
                            {% set route_params = app.request.attributes.get('_route_params')|merge(app.request.query.all) %}
                        {% endif %}
                        <a class="nav-link{% if not loop.last %} divider{% endif %}" href="{{ path(app.request.attributes.get('_route'), route_params|merge({"_locale": locale})) }}">{{ locale|upper }}</a>
                    </li>
                    {% endfor %}
                {% endif %}
                </ul>
            </nav>
        </div>
        <nav id="navigation-main-wrapper" class="navbar navbar-expand-md navbar-light">
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarToggler">
                <ul id="menu-main" class="container navbar-nav nav-fill w-100 ms-auto flex-nowrap">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('site-map') }}">{{ 'Sites'|trans }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="dropdownLookupMenuButton" data-bs-toggle="dropdown">
                            {{ 'Look-up'|trans }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownLookupMenuButton">
                            <a class="dropdown-item" href="{{ path('person-index') }}">{{ 'Persons'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('organization-index') }}">{{ 'Organizations'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('glossary-index') }}">{{ 'Glossary'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('bibliography-index') }}">{{ 'Literature'|trans }}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="{{ path('about') }}" class="nav-link dropdown-toggle" id="dropdownAboutMenuButton" data-bs-toggle="dropdown">
                            {{ 'About'|trans }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownAboutMenuButton">
                            {% if 'de' == app.request.locale %}
                            <a class="dropdown-item" href="{{ path('about-hakhsharah') }}">{{ 'Hakhsharah'|trans }}</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('about') }}">{{ 'The Project'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('about-network') }}">{{ 'The Network'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('imprint') }}#imprint">{{ 'Imprint'|trans }}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        {% endblock %}

        <main role="main">
            {% block banner %}{% endblock %}
            <div class="container">
                {% block wrapper %}
                <div class="row p-2">
                {% block body %}{% endblock %}
                </div><!-- .row -->
                {% endblock %}
            </div><!-- .container -->
        </main>

        {% block footer %}
        <footer class="mt-auto">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{ path('home') }}" style="font-size: 1.15em;">
                        {% if 'de' == app.request.locale %}
                            <b>Hachschara</b> als<br />
                            Erinnerungsort
                        {% else %}
                            <b>Hakhsharah</b> as a<br />
                            Place of Remembrence
                        {% endif %}
                        </a>
                    </div>
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-2{# text-sm-end#}">
                        <a href="{{ path('imprint') }}#contact">{{ 'Contact'|trans }}</a><br />
                        <a href="{{ path('imprint') }}#data-protection">{{ 'Privacy'|trans }}</a><br />
                        <a href="{{ path('imprint') }}#imprint">{{ 'Imprint'|trans }}</a>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}

        {% block javascripts %}
        <!-- jQuery first, already in head, then Bootstrap JS Bundle which includes Popper -->
        <script src="{{ app.request.basepath }}/vendor/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js"></script>
        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            });
        </script>
        {% endblock %}
    </body>
</html>
