<!DOCTYPE html>
<html class="no-js" lang="{{ app.request.getLocale() }}{% if 'en' == app.request.getLocale() %}-us{% endif %}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block style %}
        <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/bootstrap-icons-1.11.2/font/bootstrap-icons.min.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/bootstrap-5.3.2-dist/css/bootstrap.min.css">

        {#
            triggers scssphp, this one doesn't prepend app.request.basepath
            since it overrides \Symfony\Bridge\Twig\Extension\AssetExtension
            and doesn't prepend $this->getBasePath().ltrim($versionedPath, '/')
            as in Symfony\Component\Asset\PathPackage
        #}
        <link href="{{ app.request.basepath }}{{ asset('css/base.css') }}" rel="stylesheet">
        {% endblock style %}

        <title>{% block title %}{{ site_name|trans({}, 'additional') }}{% endblock %}</title>

        {# slim-version of jquery doesn't work for tetranz/select2entity-bundle #}
        <script src="{{ app.request.basepath }}/js/jquery-3.6.0.min.js"></script>

        {% set schema_writen = false %}
        {% if schema is defined and schema is not empty %}
            {{ schema.toScript()|raw }}
            {% set schema_writen = true %}
            {% if pageMeta is not defined or pageMeta.description is not defined %}
                {% set description = schema.getProperty('description') %}
                {% if description is not empty %}
                    {% if pageMeta is not defined %}
                        {% set pageMeta = { description: description } %}
                    {% else %}
                        {% set pageMeta = pageMeta|merge({ description: description }) %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% if pageMeta is defined %}
            {% if not schema_writen and pageMeta.jsonLd is defined %}
        <script type="application/ld+json">
            {{ pageMeta.jsonLd|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }}
        </script>
            {% endif %}
            {% if pageMeta.description is defined %}
            <meta name="description" content="{{ pageMeta.description }}">
            {% elseif pageMeta.jsonLd is defined and pageMeta.jsonLd.description is defined %}
            <meta name="description" content="{{ pageMeta.jsonLd.description }}">
            {% endif %}
            {% if pageMeta.og is defined %}
                {% for prop, val in pageMeta.og %}
                    {% if val is iterable %}
                        {% for single_val in val %}
        <meta property="{{ prop }}" content="{{ single_val }}">
                        {% endfor %}
                    {% else %}
        <meta property="{{ prop }}" content="{{ val }}">
        {% if prop == 'og:description' and pageMeta.description is not defined %}
        {# duplicate tag #}
        <meta name="description" content="{{ val }}">
        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if pageMeta.og['og:url'] is defined %}
        <link rel="canonical" href="{{ pageMeta.og['og:url'] }}">
                {% endif %}
            {% elseif pageMeta.canonical is defined and pageMeta.canonical is not empty %}
        <link rel="canonical" href="{{ pageMeta.canonical }}">
            {% endif %}
            {% if pageMeta.twitter is defined %}
                {% for prop, val in pageMeta.twitter %}
                    {% if val is iterable %}
                        {% for single_val in val %}
        <meta name="{{ prop }}" content="{{ single_val }}">
                        {% endfor %}
                    {% else %}
        <meta name="{{ prop }}" content="{{ val }}">
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% elseif pageTitle is defined %}
        <meta property="og:title" content="{{ pageTitle }}">
        {% endif %}

        {# for template-specific includes #}
        {% block head %}{% endblock head %}

        {# TODO: favicon #}
    </head>
    <body role="document" class="d-flex flex-column min-vh-100 route-{{ app.request.get('_route') | replace({'_' : '-'}) }}{% if document_class is defined %} {{ document_class }}{% endif %}">
        {% block navbar %}
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="{{ app.request.basepath }}/img/logo.{{ app.request.locale }}.svg" alt="{{ site_name|trans({}, 'additional') }}" style="height: 60px; width: auto" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="{{ 'Toggle navigation'|trans }}">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul id="navigation-top" class="d-none d-md-flex w-100 justify-content-end small">
                    <li class="list-inline-item" style="margin-right: 6em">
                        <a class="nav-link" href="{{ path('imprint') }}#contact">{{ 'Contact'|trans }}</a>
                    </li>
                {% if locales|length > 1 and app.request.attributes.get("_route") is not null %}
                    {% for locale in locales %}
                    <li class="list-inline-item{% if locale == app.request.locale %} active{% endif %}">
                        {% if route_params_locale_switch is defined and route_params_locale_switch is not empty and route_params_locale_switch[locale] is defined %}
                            {% set route_params = route_params_locale_switch[locale] %}
                        {% else %}
                            {% set route_params = app.request.attributes.get('_route_params')|merge(app.request.query.all) %}
                        {% endif %}
                        <a class="nav-link{% if not loop.last %} divider{% endif %}" href="{{ path(app.request.attributes.get('_route'), route_params|merge({"_locale": locale})) }}">{{ locale|upper }}</a>
                    </li>
                    {% endfor %}
                {% endif %}
                </ul>
            </nav>
        </div><!-- .container -->

        <nav id="navigation-main-wrapper" class="navbar navbar-expand-md navbar-light">
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarToggler">
                {{ knp_menu_render('main', {}, 'custom') }}
            </div>
        </nav>
        {% endblock %}

        <main role="main">
            {% block banner %}{% endblock %}
            <div class="container">
                {% block wrapper %}
                <div class="row p-2">
                {% block body %}{% endblock %}
                </div><!-- .row -->
                {% endblock %}
            </div><!-- .container -->
        </main>

        {% block footer %}
        <footer class="mt-auto">
            <div class="container">
                <div class="row">
                    <div class="col col-sm-10">
                        <a href="{{ path('home') }}">
                            <img src="{{ app.request.basepath }}/img/logo_inverse.{{ app.request.locale }}.svg" alt="{{ site_name|trans({}, 'additional') }}" style="height: 40px; width: auto; margin-bottom: 1rem;" />
                        </a>
                        <div style="margin-bottom: 1rem;">
                            {{ 'A project of'|trans }}
                        </div>
                    </div>
                    <div class="col col-sm-2">
                        <a href="{{ path('imprint') }}#contact">{{ 'Contact'|trans }}</a><br />
                        <a href="{{ path('imprint') }}#data-protection">{{ 'Privacy'|trans }}</a><br />
                        <a href="{{ path('imprint') }}#imprint">{{ 'Imprint'|trans }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-flex flex-row flex-wrap align-items-end">
                            <div class="me-5 mb-4">
                                <a href="https://www.mmz-potsdam.de/" target="_blank">
                                    <img src="{{ app.request.basepath }}/img/logo-mmz.{{ app.request.locale }}.svg" alt="{{ 'Moses Mendelssohn Center for European-Jewish Studies'|trans }}" style="height: 75px; width: auto;" />
                                </a>
                            </div>
                            <div class="me-5 mb-4">
                                <a href="https://www.juedischejugendkultur.de/" target="_blank">
                                <img src="{{ app.request.basepath }}/img/dfg-aliyah-and-escape.de.png" alt="{{ 'Between Aliyah and Escape: Jewish Youth Organizations and Zionist Education under the Nazi Regime and in pre-State Israel from 1933-1945'|trans }}" style="height: 75px; width: auto;" />
                                </a>
                            </div>
                            <div class="mb-4">
                                <a href="https://www.stiftung-denkmal.de/" target="_blank">
                                    <img src="{{ app.request.basepath }}/img/stiftung-denkmal.png" alt="{{ 'Foundation Memorial to the Murdered Jews of Europe'|trans }}" style="height: 50px; width: auto;" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}

        {% block javascripts %}
        <!-- jQuery first, already in head, then Bootstrap JS Bundle which includes Popper -->
        <script src="{{ app.request.basepath }}/vendor/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            });
        </script>

            {% if site_matomo_id is not empty %}
        <!-- Matomo -->
        <script type="text/javascript">
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(["setCookieDomain", "*.hachschara.juedische-geschichte-online.net"]);
            _paq.push(["disableCookies"]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//juedische-geschichte-online.net/piwik/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '{{ site_matomo_id }}']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->
            {% endif %}
        {% endblock %}
    </body>
</html>
