<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/bootstrap-icons-1.11.2/font/bootstrap-icons.min.css">

        {#
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/bootstrap-5.3.2-dist/css/bootstrap.min.css">
        #}

        {#
            triggers scssphp, this one doesn't prepend app.request.basepath
            since it overrides \Symfony\Bridge\Twig\Extension\AssetExtension
            and doesn't prepend $this->getBasePath().ltrim($versionedPath, '/')
            as in Symfony\Component\Asset\PathPackage
        #}
        <link href="{{ app.request.basepath }}{{ asset('css/base.css') }}" rel="stylesheet">

        <style>
        @page {
            size: auto;
            /*
            size: 210mm 297mm;
            */
            /*
            margin-header: 10mm;
            margin-top: 22mm;
            margin-left: 24mm;
            margin-right: 24mm;
            margin-bottom: 32mm;
            odd-header-name: html_header;
            even-header-name: html_header;
            odd-footer-name: html_footer;
            even-footer-name: html_footer;
            */
        }

        body {
            font-family: pdffont; /* corresponding to app.mpdf-converter.arguments.config.default_font in services.yaml */
        }

        #map-container {
            display: none;
        }

        </style>
        {% endblock %}

        <title>{% block title %}{{ site_name|trans({}, 'additional') }}{% endblock %}</title>

        {# slim-version of jquery doesn't work for tetranz/select2entity-bundle #}
        <script src="{{ app.request.basepath }}/js/jquery-3.6.0.min.js"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        {% endblock %}

        <main role="main">
            {% block banner %}{% endblock %}
            {% block body %}{% endblock %}
        </main>

        {% block footer %}
        {% endblock %}

        {% block javascripts %}
        <!-- jQuery first, already in head, then Bootstrap JS Bundle which includes Popper -->
        <script src="{{ app.request.basepath }}/vendor/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            });
        </script>
        {% endblock %}
    </body>
</html>
