{% extends 'Base/base.html.twig' %}

{% block title %}{{ 'Literature'|trans }} | {{ parent() }} {% endblock %}

{% block head %}
    <script src="{{ app.request.basepath }}/js/jquery.collapser.min.js"></script>
{% endblock %}

{% block body %}
<div class="col-12">
    <h1>{{ 'Literature'|trans }}</h1>
    <div id="description" class="mb-3">
    {% if 'de' == app.request.locale %}
        <p>Zur Geschichte der Hachschara gibt es wenig systematische Forschung und Erinnerung. Eine umfassende Überblicksdarstellung zur „Auslands-Hachschara“ hat in den 1970er Jahren Perez Leshem/Fritz Lichtenstein vorgelegt. Ende der 1990er Jahre publizierte eine Potsdamer Forscher:innen-Gruppe einen kleinen Sammelband zur Hachschara (Paetz/Weiss). Zu gleicher Zeit erschien die Darstellung von Eliyahu Kutti Salinger zur jüdisch-chaluzischen Jugendbewegung nach 1933, die auch Fragen von Hachschara behandelte. Das von Ruth und Herbert Fiedler 2004 verfasste Buch über das „Landwerk Ahrensdorf“ enthält auch eine Einführung und Übersicht zur Problematik, dazu umfangreiche Erinnerungen von Chaluzim und Chaluzoth. Der von Ilana Michaeli und Irmgard Klönne 2007 herausgegebene Erinnerungsband zur Hachschara in Gut Winkel enthält einen Beitrag von Ulrike Pilarczyk und Ilka von Cossart, in dem vorliegende Befunde zur Hachschara erstmalig systematisch erfasst und durch eigene Forschungen ergänzt wurden.</p>
        <p>Das Thema wurde von beiden Autorinnen wenig später erneut aufgegriffen und breiter in den Zusammenhang der Jüdischen Jugendbewegung eingebettet (Pilarczyk 2009). 2020 publizierten zwei Projekt-Gruppen, die sich sowohl mit systematischen Fragen, als auch mit lokalen/regionalen Beschreibungen von Hachschara beschäftigt hatten, erste Forschungsergebnisse. Der Tagungsband „Hachschara und Jugend-Alija“ (Pilarczyk et al. 2020) präsentiert Ergebnisse quellenbasierter Forschung des DFG-Projektes an der TU Braunschweig. Einleitend bietet der Band – erstmalig – einen fast vollständigen Überblick über die verstreuten Forschungen und Publikationen zum Thema.</p>
        <p>Die Beiträge zielen auf Forschungslücken u.a. zum Zusammenhang von früher Hachschara und Jugendbewegung (Bergbauer 2020), zum Beitrag der religiösen Jugendbewegung zur Hachschara-Entwicklung (Kissling) und zu spezifisch regionalen Entwicklungen von Hachschara und zionistisch-jugendbewegten Pioniertums (hebr. Chaluziut) am Beispiel von Schlesien (Bergbauer). Im Tagungsband der Hannoveraner/Haifaer Forscher:innengruppe (Alon-Mozes et. al. 2020) finden sich Überblicksdarstellungen (Lavsky, Buser), Beiträge, die sich mit dem Verhältnis von Jugendbewegung und Hachschara befassen (Wolschke, Hennig) und Darstellungen zur Geschichte einzelner Hachschara-Orte (Gazit-Gaglow). Mit dem Band „Jüdische Jugend im Übergang – Jewish Youth in Transit“ (Bergbauer u.a. 2024), Ergebnis der gleichnamigen, international ausgerichteten Konferenz, die im März 2021 im Rahmen des DFG-Projektes „Nationaljüdische Jugendkultur und zionistische Erziehung in Deutschland und Palästina zwischen den Weltkriegen" stattfand, werden unter anderem auch Fragen von Hachschara und Jugend-Alija in den Fokus gerückt. </p>
        <p>Etwas besser sieht die Bilanz der Veröffentlichungen zu Hachschara-Orten aus, wobei hier die zur Buchform gediehenen Publikationen zu Ahrensdorf (Fiedler 2004), Gut Winkel (Michaeli/Klönne 2007), Jägerslust (Philipsen 2008) und Niederschönhausen (Museum Pankow 2020) herausragen. Für die Hachschara vor 1933 und speziell den „Kibbuz Cherut“ bei Hameln sei vor allen auf die Veröffentlichungen von Fölling/Melzer (1989) verwiesen, für die Zeit nach 1939 auf den Band von Margit Naarmann über das „Umschulungs- und Einsatzlager“ am Grünen Weg in Paderborn (Naarmann 2000). Dass es auch nicht-zionistische Berufsumschulungen gab, belegen die Arbeiten von Werner Angress zu Gross-Breesen (1985 u. 2005) Zudem existieren zwei Veröffentlichungen, die sich mit der (kurzen) Geschichte der Hachschara nach 1945 beschäftigen.</p>

        <p>Auch wenn sich die folgenden Auflistungen umfänglich lesen und eine ganze Reihe kleinerer Veröffentlichung gar nicht aufgenommen wurden, steht nicht nur eine umfassende Gesamtdarstellung zur Geschichte der Hachschara bisher aus. Es gibt in diesem Themenfeld noch sehr viele „weiße Flecken“ und damit weiteren Forschungsbedarf.</p>
        <p>Das folgende Literaturverzeichnis ist unvollständig und soll lediglich einen Überblick ermöglichen. Auf Erinnerungen/Biographien, in denen sich ehemalige Chaluzim (meist kurz) auch an ihre Zeit auf Hachschara erinnern, wurde dabei weitgehend verzichtet.</p>
    {% else %}
        <p>There is little systematic research and commemoration on the history of the Hakhshara. A comprehensive overview of the “Hakhshara abroad” was already presented in the 1970s by Perez Leshem/Fritz Lichtenstein. At the end of the 1990s, a small anthology on the Hakhshara was published by a group of researchers from Potsdam (Paetz/Weiss). At the same time, Eliyahu Kutti Salinger’s account of the Jewish-Christian youth movement after 1933 was published, which also dealt with questions about the Hakhshara. Ruth and Herbert Fiedler’s 2004 book on the agricultural training center in Ahrenshof contains an introduction and overview of the issue, as well as comprehensive memoirs from halutzim and halutzot. Ilana Michaeli and Irmgard Klönne’s memoirs about the Hakhshara at Gut Winkel (Winkel estate) published in 2007 contains an article by Ulrike Pilarczyk and Ilka von Cossart, which provides the first systematic register of available information about the Hakhshara and supplements this with their own research.</p>
        <p>The topic was revisited by both authors soon after and incorporated more broadly into the context of the Jewish youth movement (Pilarczyk 2009). In 2020, two project groups dealing with both systematic questions, as well as local and regional descriptions of the Hakhshara, published their first research results. The conference proceedings “<i>Hachschara und Jugend-Alija</i>” (Hakhshara and Youth Aliyah) (Pilarczyk et al. 2020) present the source-based research of the DFG project at the TU in Braunschweig. It introduces an almost complete overview of the scattered research and publications on the topic for the first time.</p>
        <p>The contributions focus on gaps in the research, including on the connection between the early Hakhshara and the youth movement (Bergbauer), on the contribution of the religious youth movement to the development of the Hakhshara (Kissling) and on specific regional developments in Hakhshara and Zionist youth movement pioneering (Heb. chalutziut) using Silesia as an example (Bergbauer). The conference papers of the Hanover/Haifa research group (Alon-Mozes et. al. 2020) contain overviews (Lavsky, Buser), articles about the relationship between the youth movement and the Hakhshara (Wolschke, Hennig) and depictions of the history of specific Hakhshara sites (Gazit-Gaglow). The volume “Jüdische Jugend im Übergang - Jewish youth in transit” (Bergbauer et al. 2024), the result of the international conference of the same name, which took place in March 2021 as part of the DFG project “National Jewish Youth Culture and Zionist Education in Germany and Palestine between the World Wars”, also focuses on issues such as Hakhshara and Youth Aliyah.</p>
        <p>There are a few more publications on Hakhshara sites available, with information in book form on Ahrensdorf (Fiedler 2004), Gut Winkel (Michaeli/Klönne 2007), Jägerslust (Philipsen 2008) and Niederschönhausen (Museum Pankow 2020) standing out. For the Hakhshara before 1933 and the “Kibbutz Cherut” near Hameln in particular, please refer to the publications by Fölling/Melzer (1989); for the period after 1939 see Margit Naarmann’s volume on the “<i>Umschulungs- und Einsatzlager</i>” (retraining and deployment camp) on the Grünen Weg in Paderborn (Naarmann 2000). Werner Angress’ works on Gross-Breesen (1985 and 2005) show that there were also non-Zionist vocational retraining programs. In addition, there are two publications which deal with the (short) history of the Hakhshara after 1945. </p>
        <p>Even if the following lists seem extensive and a whole series of smaller publications are not included at all, a comprehensive overall presentation on the history of the Hakhshara still does not exist. There are also still many “blind spots” in this field and therefore a need for further research. </p>
        <p>The following bibliography is incomplete and is only intended to provide an overview. Memoirs/biographies in which halutzim recall (mostly briefly) their time in Hakhshara have largely been omitted.  </p>
    {% endif %}
    </div>
    <script>
        if (true || $(window).width() < 768) {
            // https://www.aakashweb.com/docs/jquery-collapser/
            $('#description').collapser({
                mode: 'lines',
                truncate: 10,
                showText: '{{ 'Show all'|trans }} &#x2335;',
                hideText: '',
                hideClass: 'hidden',
            });
        }
    </script>

    <ul class="nav nav-tabs nav-fill" id="contentsTab" role="tablist">
        {% for key, data in bibliographyBySection %}
        <li class="nav-item me-2 mb-2" role="presentation">
            <a class="nav-link{% if false and loop.first %} active{% endif %}" id="{{ key }}-tab" data-bs-toggle="tab" data-bs-target="#{{ key }}" role="tab" aria-controls="{{ key }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ data.title|trans({}, 'additional') }}</a>
        </li>
        {% endfor %}
    </ul>

    <div class="tab-content p-3" id="contentsTabContent">
        {% for key, data in bibliographyBySection %}
        <div class="tab-pane fade show{% if false and loop.first %} active{% endif %}" id="{{ key }}" role="tabpanel" aria-labelledby="{{ key }}-tab">
            {{ data.contentHtml|raw }}
        </div>
        {% endfor %}
    </div><!-- #contentsTabContent -->
</div><!-- .col-12 -->
{% endblock %}
