{% extends 'Base/base.html.twig' %}

{% block title %}{{ 'The Network'|trans }} | {{ parent() }} {% endblock %}

{% block body %}
    <h1>{{ 'The Network'|trans }}</h1>
    <div class="col">
        <p>
    {% if 'de' == app.request.locale %}
            Das Netzwerk von Hachschara als Erinnerungsort dient dem gegenseitigen Kennenlernen wie auch dem Wissens-Transfer der häufig lokal verankerten Forschung zu den einzelnen Hachschara-Stätten. Das Netzwerk ermöglicht einen Erfahrungsaustausch, den Aufbau von überregionalen Perspektiven sowie die Unterstützung neuer lokaler Initiativen.
    {% else %}
            The Hakhshara as a Place of Remembrance network servs to familiarize and enable a transfer of knowledge amongst the often locally-based research of the individual Hakhshara sites. The network allows the sharing of expertise and experience, the development of cross-regional perspectives and the support of new local initiatives.
    {% endif %}
        </p>

    {% if users is not empty %}
        <p>
        {% if 'de' == app.request.locale %}
            Innerhalb des Netzwerks haben folgende Autor:innen bereits Beiträge veröffentlicht:
        {% else %}
            Within the network, the following authors have already published articles:
        {% endif %}
        </p>

        <h2>{{ 'Authors'|trans }}</h2>
        {% for row in users %}
            <a href="{{ path('user', { 'id': row.id }) }}">{{ row.fullName(true) }}</a><br />
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
